parameters:
    level: 8
    paths:
        - app
        - config
        - database
        - routes
    ignoreErrors:
        # Google API classes
        - '#Undefined method getId#'
        - '#Undefined method getEmailAddress#'
        - '#Undefined method getDisplayName#'
        - '#Undefined method getBody#'
        - '#Undefined method getContents#'
        # Array type hints
        - '#Property .* type has no value type specified in iterable type array#'
        - '#Method .* return type has no value type specified in iterable type array#'
        - '#Parameter \$data of method#'
        - '#Parameter \$filters of method#'
        - '#Parameter \$params of method#'
        - '#Parameter \$headers of method#'
        - '#Parameter \$options of method#'
        # Laravel Eloquent static methods
        - '#Call to static method where on class#'
        - '#Call to static method create on class#'
        - '#Call to static method first on class#'
        - '#Call to static method update on class#'
        # Laravel Eloquent generics
        - '#Generic type#'
        - '#Call to method belongsTo on class#'
        - '#Call to method hasMany on class#'
        - '#Call to method hasOne on class#'
        - '#Call to method belongsToMany on class#'
        # Laravel Builder generics
        - '#Call to method where on class#'
        - '#Call to method first on class#'
        - '#Call to method get on class#'
        - '#Call to method update on class#'
        - '#Call to method delete on class#'
        # Auth::user() null checks
        - '#Call to method get on null#'
        - '#Call to method id on null#'
        - '#Call to method email on null#'
        - '#Call to method name on null#'
        # HTTP Client token types
        - '#Parameter \$token of method withToken expects string, mixed given#'
        # PHP 8.4 deprecated parameters
        - '#Parameter \$memory_limit of function ini_set expects string, int given#'
        # Nullsafe operator
        - '#Call to method get on null#'
        - '#Call to method json on null#'
        - '#Call to method successful on null#'
        - '#Call to method status on null#'
        - '#Call to method body on null#'
        # Dead catch
        - '#Dead catch - Exception is never thrown in the try block#'
        # Unused properties
        - '#Property App\\Services\\Banking\\RevolutService::\$retryAttempts is never read#'
        - '#Property App\\Services\\Banking\\NordigenService::\$retryAttempts is never read#'
        # Always true conditions
        - '#Condition \$tokenContent !== false is always true#'
        - '#Condition \$accessToken !== null is always true#'